/*Maak hier jouw CSS!*/

body {
    text-align: center;
    background-color: #f9dec9;

}

.container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    margin: 0 auto;
    grid-template-areas:
            "aaa"
            "bbb"
            "ccc"
            "ddd"
            "eee"
            "ggg"
            "fff";
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9e2a2b;
    padding: 8px;
}

.box-a {
    grid-area: aaa;
}

.box-b {
    grid-area: bbb;
}

.box-c {
    grid-area: ccc;
}

.box-d {
    grid-area: ddd;
}

.box-e {
    grid-area: eee;
}

.box-f {
    grid-area: fff;
}

.box-g {
    grid-area: ggg;
    background-color: transparent;
}

/* desktop grid */
@media screen and (min-width: 760px) {

    body {
        text-align: center;
        background-color: #f9dec9;
    }

    .container {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        max-width: 960px;
        margin: 0 auto;
        grid-template-areas:
            "aaa ccc ccc"
            "bbb ccc ccc"
            "bbb eee ddd"
            "bbb eee ."
            "fff fff fff";
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9e2a2b;
        padding: 8px;
    }

    .box-a {
        grid-area: aaa;
    }

    .box-b {
        grid-area: bbb;
    }

    .box-c {
        grid-area: ccc;
    }

    .box-d {
        grid-area: ddd;
    }

    .box-e {
        grid-area: eee;
    }

    .box-f {
        grid-area: fff;
    }

    .box-g {
        grid-area: ggg;
        background-color: transparent;
    }
}
